.photo-column{
   background-color:white;
    height: 900px;
}

#photo {
    background-color: aqua;
    height: 900px;
}

.photo-sm{
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color:grey;
    margin-top: 20px;
    overflow: hidden;

}

@media (min-width: 575.98px) {

	.video {
		margin-top: 20px;
		width: 100%;
		height: 400px;
	}
}

@media (min-width: 767.98px) {


	.video {
		margin-top: 20px;
		width: 100%;
		height: 600px;
	}
}

@media (min-width: 991.98px) {


	.video {
		margin-top: 20px;
		width: 100%;
		height: 800px;
	}
}

